.container {
    margin: 50px 5%;
}

.scroller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    scroll-snap-type: x mandatory;
    padding-bottom: 8px;
    -webkit-overflow-scrolling: touch;
}

.item {
    flex: 0 0 350px;
    min-width: 350px;
    /* match your card width */
    scroll-snap-align: start;
    /* snap each card */
}

.head {
    display: flex;
    justify-content: space-between;
}

.link {
    color: rgb(158, 158, 158);
    margin: 20px;
    font-size: 25px;
    font-style: italic;
}

.link:hover {
    color: #00bfff;
    cursor: pointer;
}