.img {
    width: 500px;
}

.topcontainer {
    margin-top: 0px;
}

.container {
    position: relative;
    background-color: #1a1a1a;
    margin-top: 0px;
    padding: 20px 50px;
    border-radius: 8px;
    color: white;
    margin: 30px 5%;
    display: inline-block;
}

.card {
    display: inline-block;
}

.badge {
    margin-right: 5px;
}